{% extends 'backoffice/base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">

            {% for message in app.flashes('success') %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}
            
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                {% include 'composants/titredashboard.html.twig' with { 'title': 'Liste des Produits'} %}
                {% include 'composants/recherche.html.twig' with {'searchTerm': searchTerm ?? ''} %}
                <a href="{{ path('app_produit_new') }}">Ajouter un Produit <i class="fa-solid fa-plus"></i></a>
                <table class="min-w-full border-collapse mt-8">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="p-4 text-left">Produit</th>
                            <th class="p-4 text-left">Prix unitaire</th>
                            <th class="p-4 text-left">Description</th>
                            <th class="p-4 text-left">Catégorie</th>
                            <th class="p-4 text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td class="border-y p-4 text-left">{{ produit.nom }}</td>
                                <td class="border-y p-4 text-left">{{ produit.prix }}€</td>
                                <td class="border-y p-4 text-left">{{ produit.description }}</td>
                                <td class="border-y p-4 text-left">{{ produit.category ? produit.category.category : 'Sans catégorie' }}</td>
                                <td class="border-y p-4 text-left flex justify-around">
                                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form method="post" action="{{ path('app_produit_delete', {id: produit.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce produit ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                                        <button><i class="fa-solid fa-trash-can text-red-500"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
